test.py
test2.py

# Игнорировать директорию виртуального окружения
venv/

# Игнорировать файлы базы данных SQLite
*.db

# По желанию, можно игнорировать скомпилированные файлы Python
*.pyc
__pycache__/